/**
 * Created by Moudi on 2017/3/22.
 */
::-webkit-scrollbar-thumb {
  background: #acacac;
  border-radius: 10px;
}
::-webkit-scrollbar {
  height: 12px;
  width: 4px;
  background: transparent;
  border-radius: 10px;
}

body, html, #app {
  height: 100%;
}
#bilidata {
  display: flex;
  width: 100%;
  height: 100%;
  .sidebar {
    flex: 0 0 200px;
    width: 200px;
    overflow: hidden;
  }
  .main-content {
    flex: 1;
    overflow-y: auto;
    background-color: #f6f6f6;
  }
}

nav {
  position: relative;
  &.dark {
    background: #727272;
  }
  .icon {
    display: block;
    width: 70%;
    margin: 20px auto 40px;
  }
  .theme-switch {
    position: absolute;
    bottom: 1%;
    left: 58px;
  }
}
#navbar {
  height: 70%;
  overflow-y: hidden;
  overflow-x: hidden;
}
#navbar {
  &:hover {
    overflow-y: auto;
  }
}
.main-content {
  box-sizing: border-box;
  padding: 20px;
}

.charts {
  margin-top: 50px;
}